@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    /* CORES */
    --body-color: #F0FFFF;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --nav-color: #86A788;
    --button-color: #86A788;
    --opacity-text: #A1A1A1;

    /* FONTES E TIPOGRAFIA */
    /* .5rem = 8px | 1rem = 16px... */

    /* NAVBAR */
    --nav-size: 1.25rem;
    --nav-weight: 500;

    /* HEADING, SUBTITLE & TEXT */
    --heading-size: 2.25rem;
    --heading-mobile-size: 2rem;
    --heading-weight: 800;

    --subtitle-size: 1.5rem;
    --subtitle-mobile-size: 1.25rem;
    --subtitle-weight: 600;

    --text-size: 1.25rem;
    --text-mobile-size: 1rem;
    --text-weight: 500;

    --button-size: 1.25rem;
    --button-weight: 800;

    /* FEATURED */
    --book-title-size: 1.25rem;
    --book-title-weight: 600;
    --old-price-size: 1rem;
    --new-price-size: 1.25rem;
    --price-weight: 500;

    /* NEWSLETTER */
    --placeholder-size: 1.25rem;
    --placeholder-mobile-size: 1rem;
    --placeholder-weight: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: var(--body-color);
    font-family: "Raleway", sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 13vh;
}



/* <<<========== GLOBAL TEXTS ==========>>> */
.heading {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
    text-align: center;
}

.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    text-align: center;
}

.text {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    text-align: center;
}

.button {
    background-color: var(--button-color);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    color: var(--white-color);
    text-align: center;
    border: 0;
    border-radius: 10px;
    width: 280px;
    height: 70px;
    user-select: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover{
    scale: 1.1;
}



/* <<<========== HEADER ==========>>> */
.header-container {
    background-color: var(--nav-color);
    height: 10vh;
    padding: 0px 10vw;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-logo {
    user-select: none;
}


.nav-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}

.nav-list.active{
    transform: translateX(0);
}

.nav-list a {
    text-decoration: none;
    font-size: var(--nav-size);
    font-weight: var(--nav-weight);
    color: var(--white-color);
    cursor: pointer;
    user-select: none;
}

.nav-icons {
    display: flex;
    gap: 1vw;
}

.nav-icons i {
    color: var(--white-color);
}

.mobile-menu{
    color: var(--white-color);
    display: none;
    cursor: pointer;
}


/* <<<========== HERO ==========>>> */
.hero-container {
    height: calc(100vh - 8vh);
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
    height: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-books{
    width: 44.5rem;
    height: 22.5rem;
}


/* <<<========== FEATURED ==========>>> */
.featured-container{
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cards-container{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 20px;
}

.card{
    width: 280px;
    height: 430px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
}

.card-img{
    width: 150px;
    height: 200px;
    box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.2);
}

.book-title{
    height: 26px;
    font-size: var(--book-title-size);
    font-weight: var(--book-title-weight);
    text-align: center;
    margin-top: 15px;
    font-family: "Lora", serif;
}

.book-prices{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.old-price{
    font-size: var(--old-price-size);
    font-weight: var(--price-weight);
    color: var(--opacity-text);
    text-decoration: line-through;
}

.new-price{
    font-size: var(--new-price-size);
    font-weight: var(--price-weight);
}

.card button{
    width: 220px;
    min-height: 45px;
}



/* <<<========== DISCOUNT ==========>>> */
.discount-container{
    margin-top: 200px;
    padding: 0 10vw;
}

.discount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-books{
    position: relative;
    height: 36.25rem;
    width: 42.875rem;
}

.discount-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



/* <<<========== NEWSLETTER ==========>>> */
.newsletter-container{
    margin-top: 200px;
    padding: 0 10vw;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.newsletter-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.newsletter-form{
    background-color: var(--white-color);
    padding: 25px 50px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
}

.newsletter-form input{
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.newsletter-form input::placeholder{
    color: var(--opacity-text);
}

.newsletter-form button{
    width: 100%;
    height: 60px;
}



/* <<<========== FOOTER ==========>>> */
.footer-container{
    margin-top: 200px;
    padding: 50px 10vw;
    background-color: var(--white-color);
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-shop{
    width: 280px;
}

.footer-shop .text{
    text-align: left;
}

.footer-links{
    display: flex;
    gap: 100px;
}

.fast-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fast-links .subtitle{
    text-align: left;
}

.support-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-links a{
    font-size: var(--text-size);
    text-decoration: none;
    color: var(--black-color);
    cursor: pointer;
}

.social-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.social-icons{
    display: flex;
    gap: 40px;
}

.social-icons a{
    color: var(--black-color);
}

.directs-container span{
    font-weight: 600;
}



/* <<<========== MEDIA QUERIES ==========>>> */
@media(min-width: 1440px){
    .nav, .hero, .featured, .discount, .newsletter, .footer{
        max-width: 1440px;
        margin: auto;
    }
}

@media(max-width: 1450px){
    .discount{
        flex-direction: column;
    }
}

@media(min-width: 1251px){
    .mobile-menu{
        display: none !important;
    }
}

@media(max-width: 1250px){
    .nav{
        overflow-x: hidden;
    }

    .nav-navigation{
        gap: 20px;
    }

    .nav-list{
        position: absolute;
        top: 10vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: var(--nav-color);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .mobile-menu{
        display: block;
        padding: 15px;
        position: relative;
        z-index: 10;
    }

    .hero{
        flex-direction: column;
        gap: 50px;
    }
    
    .hero-content{
        margin-top: 50px;
        width: 70%;
    }

    .featured{
        margin-top: 200px;
    }

    .cards-container{
        grid-template-columns: 280px 280px 280px;
    }
    .discount-content{
        width: 80%;
    }

    .newsletter{
        flex-direction: column;
    }

    .newsletter-content{
        width: 80%;
    }
}

@media(max-width: 1024px){
    .nav-icons{
        gap: 20px;
    }

    .content{
        flex-direction: column;
        gap: 100px;
    }
}

@media(max-width: 950px){
    .cards-container{
        grid-template-columns: 280px 280px;
    }
}

@media(max-width: 768px){
    .hero-books, .discount-books{
        width: 100%;
        height: auto;
    }

    .hero-content, .discount-container, .newsletter-content{
        width: 100%;
    }

    .footer-links{
        flex-direction: column;
    }
}

@media(max-width: 600px){
    .header-container, .hero-container, .featured-container, .discount-container, .newsletter-container{
        padding: 0 2vw;
    }

    .footer-container{
        padding: 50px 2vw
    }

    .cards-container{
        grid-template-columns: 280px;
        justify-content: center;
    }
}

@media(max-width: 425px){
    .nav-logo{
        width: 50%;
    }
}