@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

:root {
    /* CORES */
    --body-color: #F0FFFF;
    --white-color: #FFFFFF;
    --dark-color: #000000;
    --nav-color: #86A788;
    --button-color: #86A788;
    --opacity-text: #A1A1A1;

    /* FONTES E TIPOGRAFIA */
    /* .5rem = 8px | 1rem = 16px... */

    /* NAVBAR */
    --nav-size: 1.25rem;
    --nav-weight: 500;

    /* HEADING, SUBTITLE & TEXT */
    --heading-size: 2.25rem;
    --heading-mobile-size: 2rem;
    --heading-weight: 800;

    --subtitle-size: 1.5rem;
    --subtitle-mobile-size: 1.25rem;
    --subtitle-weight: 600;

    --text-size: 1.25rem;
    --text-mobile-size: 1rem;
    --text-weight: 500;

    --button-size: 1.25rem;
    --button-weight: 800;

    /* FEATURED */
    --book-title-size: 1.25rem;
    --book-title-weight: 600;
    --old-price-size: 1rem;
    --new-price-size: 1.25rem;
    --price-weight: 500;

    /* NEWSLETTER */
    --placeholder-size: 1.25rem;
    --placeholder-mobile-size: 1rem;
    --placeholder-weight: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

body {
    background-color: var(--body-color);
    font-family: "Raleway", sans-serif;
}



/* <<<========== GLOBAL TEXTS ==========>>> */
.heading {
    font-size: var(--heading-size);
    font-weight: var(--heading-weight);
    text-align: center;
}

.subtitle {
    font-size: var(--subtitle-size);
    font-weight: var(--subtitle-weight);
    text-align: center;
}

.text {
    font-size: var(--text-size);
    font-weight: var(--text-weight);
    text-align: center;
}

.button {
    background-color: var(--button-color);
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    color: var(--white-color);
    text-align: center;
    border: 0;
    border-radius: 10px;
    width: 280px;
    height: 70px;
    user-select: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.button:hover{
    scale: 1.1;
}



/* <<<========== HEADER ==========>>> */
.header {
    background-color: var(--nav-color);
    height: 10vh;
    padding: 0px 10vw;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    user-select: none;
}

.nav-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7vw;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    list-style: none;
}

.nav-list a {
    text-decoration: none;
    font-size: var(--nav-size);
    font-weight: var(--nav-weight);
    color: var(--white-color);
    cursor: pointer;
    user-select: none;
}

.nav-icons {
    display: flex;
    gap: 1vw;
}

.nav-icons i {
    color: var(--white-color);
}



/* <<<========== HERO ==========>>> */
.hero-container {
    height: calc(100vh - 8vh);
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
    height: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-books {
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.hero-book {
    width: 12.5rem;
    height: 17.625rem;
    box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.primary-book {
    width: 15rem;
    height: 22.5rem;
}



/* <<<========== FEATURED ==========>>> */
.featured-container{
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featured{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.cards-container{
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    gap: 20px;
}

.card{
    width: 280px;
    height: 430px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 10px;
}

.card-img{
    width: 150px;
    height: 200px;
    box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.2);
}

.book-title{
    height: 26px;
    font-size: var(--book-title-size);
    font-weight: var(--book-title-weight);
    text-align: center;
    margin-top: 15px;
    font-family: "Lora", serif;
}

.book-prices{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.old-price{
    font-size: var(--old-price-size);
    font-weight: var(--price-weight);
    color: var(--opacity-text);
    text-decoration: line-through;
}

.new-price{
    font-size: var(--new-price-size);
    font-weight: var(--price-weight);
}

.card button{
    width: 220px;
    min-height: 45px;
}



/* <<<========== DISCOUNT ==========>>> */
.discount-container{
    padding: 0 10vw;
}

.discount{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount-books{
    position: relative;
    height: 580px;
    width: 60%;
}

.discount-book{
    width: 18.75rem;
    height: 28.125rem;
    position: absolute;
    box-shadow: -15px 10px 10px rgba(0, 0, 0, 0.2);
}

.book-1{
    top: 0;
    left: 80px;
    rotate: -15deg;
}

.book-2{
    top: 80px;
    left: 350px;
    rotate: 15deg;
}

.discount-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



/* <<<========== NEWSLETTER ==========>>> */
.newsletter-container{
    padding: 0 10vw;
}

.newsletter{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.newsletter-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.newsletter-form{
    background-color: var(--white-color);
    padding: 25px 50px;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
}

.newsletter-form input{
    font-size: var(--placeholder-size);
    font-weight: var(--placeholder-weight);
    width: 100%;
    height: 60px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.newsletter-form input::placeholder{
    color: var(--opacity-text);
}

.newsletter-form button{
    width: 100%;
    height: 60px;
}